<div class="container">
    <h1 style="text-align: center !important; margin:30px;">CodeOnce Test</h1>
    <div class="card mt-5">
        <div class="card-header">
            Développement d'un micro-service permettant de retourner le nombre de ponctuation dans un texte.
        </div>
        <div class="card-body">
            <div class="card-text">
                <form [formGroup]="InputForm" (ngSubmit)="submit()">
                    <div class="form-group col-sm-8 mt-3">
                        <div class="col-sm-9">
                            <input class="form-control" formControlName="phrase" id="colFormLabel" placeholder="Tapez un texte ...">
                        </div>
                    </div>
                    <h5 class="my-4 ml-5">Le nombre de ponctuation dans ce texte : <span style="font-weight: 800; font-size: 25px;">{{occurences}} </span></h5>
                    <button class="btn btn-primary mt-1 ml-5">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>